
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

// VARIABLES /
@black: #000;
@border_radius_4: 4px;
@border_radius_6: 6px;
@border_solid: #dce6ff;
@error_bg: rgba(225, 85, 76, 0.08);
@faint_black: hsla(0, 0%, 0%, 0.2);
@grey: #707070;
@image_bg: rgb(134 167 242);
@input_bg: hsla(222, 100%, 59%, 0.08);
@input_error: #E1554C;
@light_black: rgba(0, 0, 0, 0.6);
@main_bg:#fbfbfb;
@placeholder: hsla(222, 64%, 23%, 0.5);
@Poppins: "Poppins", sans-seriff;
@primary: #2c6bff;
@text_color: #152c61;
@white: #fff;

